@import url('./reset.css');
@import url('./typography.css');
@import url('./color.css');

:root {
  /* Drop shadow tokens */
  --shadow-popup: 
    0px 4px 2px rgba(20, 18, 27, 0.02),
    0px 2px 18px rgba(20, 18, 27, 0.08);
}