:root {
  --rolling-news-height: 49px;
  --rolling-news-gap: 12px;
  --rolling-animation-height: calc(
    var(--rolling-news-height) + var(--rolling-news-gap)
  );
}
.auto-rolling-news-section {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
  margin-inline: 90px;
  height: var(--rolling-news-height);
  overflow-y: hidden;
}

.auto-rolling-news {
  box-sizing: border-box; /* 패딩과 보더를 너비에 포함시킴 */
  height: var(--rolling-news-height);
  border: 1px solid var(--border-default);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 11.5px 16px;
  background-color: var(--surface-alt);
  flex: 1;
}

.visible-region {
  overflow-y: hidden;
  height: 24px;
}
.moving-region {
  transition: transform 0.5s ease-in-out; /* 애니메이션 속도 */
}

.news-wrapper {
  display: flex;
  gap: 16px;
}

.press-company {
  font-size: 14px;
  color: var(--text-strong);
  font-weight: bold;
}
.news-title {
  font-size: 14px;
  color: var(--text-default);
}
.news-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.is-rolling {
  transform: translateY(-21px);
}
