@use '@/styles/variable.scss' as *;
@use '@/styles/typography.scss' as *;  

.news-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &__tabs {
            align-items: center;
            display: flex;
            gap:1.5rem;

            &__item {
               &--total {
                &--text {
                    @include available-medium16;
                    color: var(--text-weak);

                    &--selected {
                        @include selected-bold16;
                        color: var(--text-strong);
                    }
                }
                }

               &--subscribed {
                display: flex;
                gap: 0.25rem;

                &--text {
                    @include available-medium16;
                    color: var(--text-weak);

                    &--selected {
                        @include selected-bold16;
                        color: var(--text-strong);
                    }
                }

                &--number {
                    @include display-medium12;
                    align-items: center;
                    background-color: var(--surface-brand-alt);
                    border-radius: var(--radius-100);
                    color: var(--text-white-weak);
                    display: flex;
                    height: 1.25rem;
                    justify-content: center;
                    width: 1.25rem;


                    &--selected {
                        @include display-medium12;
                        background-color: var(--surface-brand-default);
                        color: var(--text-white-default);
                    }
                }
                }
            }
        }

        &__view-toggle-group {
            align-items: center;
            display: flex;
            gap:0.5rem;

            &__item {
                &--selected {
                    color: var(--text-point);
                }

                &--unselected {
                    color: var(--text-weak);
                }
            }
        }
    }

    &__grid-view {
        border: 1px solid var(--border-default);
        border-bottom: none;
        border-right: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 24.25rem;
        width: 100%;

        &__card {
            align-items: center;
            border: 1px solid var(--border-default);
            border-left: none;
            border-top: none;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;

            &--image {
                height: 1.25rem;
            }
        }
    }

    &__list-view {
        border: 1px solid var(--border-default);
        display:flex;
        flex-direction: column;
        height:24.25rem;
        width: 100%;

        &__category-tabs {
            background-color: var(--surface-alt);
            border-bottom: 1px solid var(--border-default);
            display: flex;
            height:2.5rem;
            width: 100%;

            &__item {
                &__button {
                    @include available-medium14;
                    align-items: center;
                    color: var(--text-weak);
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    padding: 0 1rem;

                    &--selected {
                        background-color: var(--surface-brand-alt);
                        justify-content: space-between;
                        position:relative;
                        width: 10.375rem;

                        &::after {
                            animation: category-tab-animation 20000ms ease-out infinite;
                            background-color: var(--surface-brand-default);
                            content:'';
                            height: 100%;
                            left:0;
                            position:absolute;
                            top:0;
                            width: 0;
                        }

                        & >span, div  {
                            color: var(--text-white-default);
                            z-index: 10;

                            & > span:last-child {
                                color: var(--text-white-weak);
                            }
                        }
                    }
                }
            }
        }       
    }
}

@keyframes category-tab-animation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}