@use '@/styles/variable.scss' as *;
@use '@/styles/typography.scss' as *;  

.subscribe-button,
.unsubscribe-button {
  @include available-medium12;
        align-items: center;
        background-color: var(--surface-alt);
        border: 1px solid var(--border-default);
        border-radius: var(--radius-full);
        color: var(--text-weak);
        display: flex;
        gap: .125rem;
        height:1.5rem;
        padding: .375rem;

        &:hover {
          background-color: var(--surface-default);
          border-color: var(--border-bold);
          color:var(--text-bold);
        }

        &--no-text {
          align-items: center;
          border-radius: var(--radius-full);
          display: flex;
          height: 1.5rem;
          justify-content: center;
          padding:0;
          width: 1.5rem;
        }
}

