@use '@/styles/variable.scss' as *;
@use '@/styles/typography.scss' as *;  

.unsubscription-modal {
  background-color: var(--surface-default);
  box-shadow: var(--shadow-drop-default);
  display: flex;
  flex-direction: column;
  height:8.75rem;
  left:50%;
  position:fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width:20rem;

  &__overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__content {
    @include display-medium16;
    color: var(--text-default);
    text-align: center;

    &__wrapper {
      align-items: center;
      border: 1px solid var(--border-default);
      border-bottom: none;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      width:100%;

    }

    &--press-name {
      @include display-bold16;
      color: var(--text-strong);
    }
  }

  &__buttons {
    background-color: var(--surface-alt);
    border: 1px solid var(--border-default);
    display:flex;
    height: 48px;
    width: 100%;

    &--accept, &--reject {
      @include available-medium16;
      align-items: center;
      flex:1 1 0;
      justify-content: center;     

      &:hover {
        @include hover-medium16;
      }
    }

    &--accept {
      border-right: 1px solid var(--border-default);
      color:var(--text-default);
    }
  }
}