/**
 * News Grid Styles
 */

.news-grid-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .nav-button {
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    & img {
      width: 24px;
      height: 40px;
      display: block;
    }

    &.prev {
      left: -70px;
    }

    &.next {
      right: -70px;
    }
  }

  & .news-grid {
    width: 930px;
    height: 388px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--border-width);
    border: var(--border-width) solid var(--border-default);

    & .news-item {
      background-color: var(--surface-default);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & img {
        max-width: 50%;
        max-height: 50%;
        object-fit: contain;
      }
    }
  }
}
