.press-logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border: 1px solid var(--border-default);
  margin-top: -1px;
  margin-left: -1px;
  cursor: pointer;
  position: relative;
}

.press-logo-item.placeholder {
  cursor: default;
}

.press-logo-image {
  max-height: 20px;
}

.press-logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--surface-alt);
  opacity: 0;
  transition: opacity 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.press-logo-overlay:hover {
  opacity: 1;
}
