.roll-container {
  height: 50px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.roll-container > article {
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateY(50px);
  transition: transform 0.4s ease;
}

.underline {
  text-decoration: underline;
}
