* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'MyFont', system-ui, -apple-system, sans-serif;
}
ul, ol {
    list-style: none;
}
.header {
    margin: 60px 60px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.rolling-tabs {
    display: flex;
    gap: 10px;
    margin: 40px 60px 40px;
}

.rolling-tab {
    background-color: var(--grayscale_50);
    border: 1px solid var(--grayscale_100);
    padding: 20px;
    flex: 1;
}

.press {
    font-weight: bold;
    margin: 0 10px 0;
}

.news-title {
    color: var(--grayscale_400);
    text-decoration: none;
}


.container-nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
}

.container-nav-left{
    display: flex;
    align-items: center;
    gap: 32px;
}

.container-nav-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 0 80px;
}

/* 화살표 */
.arrow {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
}

.arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
}

.arrow.left::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}
.arrow.right::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* 그리드 */
.grid-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(6, 155px);
    grid-template-rows: repeat(4, 97px);
    border: 1px solid #ccc;
}

.news-item {
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}