/* 기본 Medium */
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/font/woff2/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'Pretendard';
  src: url('./assets/font/woff2/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'MyFont', system-ui, -apple-system, sans-serif;
}
ul, ol {
    list-style: none;
}
.header {
    width: 930px;
    margin: 60px auto 40px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current-date {
    color: var(--text-default);
}

.rolling-tabs {
    width: 930px;
    display: flex;
    gap: 10px;
    margin: 0 auto 40px;
}

.rolling-tab {
    background-color: var(--surface-alt);
    border: 1px solid var(--border-default);
    padding: 12px 4px;
    flex: 1;
}

.news-article {
    display: flex;
    align-items: center;
    height: 24px;
    line-height: 24px;
}

.press {
    font-weight: bold;
    font-size: 12px;
    margin: 0 10px 0;
}
.news-title {
    font-size: 12px;
    color: var(--text-default);
    text-decoration: none;
}
.news-list {
  transition: transform 0.4s ease;
}
.news-list.animate {
  transition: transform 0.4s ease;
  transform: translateY(-24px);
}
.rolling-viewport {
  height: 24px;        /* li 하나 높이 */
  overflow: hidden;    /* 마스크 역할 */
}


.container-nav {
    width: 930px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 32px;
}

.container-nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.container-subscribed {
    display: flex;
    align-items: center;
    gap: 4px;
}

.badge {
    width: fit-content;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    background-color: var(--surface-brand-alt);
    color: #FFFFFFB3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge.active {
    background-color: var(--surface-brand-default);
    color: var(--text-white-default);
}


.container-nav-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-tab {
  color: var(--text-weak);
  cursor: pointer;
}
.nav-tab.active {
  color: var(--text-strong);
}

.view-tab {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: filter 0.2s ease, opacity 0.2s ease;
}
/* 선택된 탭 */
.view-tab.active {
  opacity: 1;
  filter: invert(34%) sepia(92%) saturate(2036%)
          hue-rotate(203deg) brightness(96%) contrast(101%);
}

.grid-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 1024px;
    margin: 0 auto 80px;
}

/* 페이지 화살표 */
.arrow {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
}

.arrow::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
}

.arrow.left::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}
.arrow.right::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* 그리드 */
.grid-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
}

.news-grid.active-grid{
    display: grid;
    grid-template-columns: repeat(6, 155px);
    grid-template-rows: repeat(4, 97px);
}

.news-item {
    position: relative;
    box-shadow: 0 0 0 1px var(--border-default);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.news-item img {
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
}

.news-item:hover {
    background: #fafafa;
}

.news-item:hover > img {
    opacity: 0;
}

.subscribe-btn {
    position: absolute;
    padding: 6px 12px;

    border: 1px solid #d1d5db;
    background: white;
    color: var(--text-bold);

    border-radius: 9999px;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
}

.news-item:hover .subscribe-btn {
    opacity: 1;
    pointer-events: auto;
}

.news-title:hover {
    text-decoration: underline;
}







/* 리스트 */
.news-grid.active-list {
    display: flex;
    flex-direction: column;
    width: 930px;
    height: 388px;
    box-shadow: 0 0 0 1px var(--border-default);
}

.category-container {
    display: flex;
    background-color: var(--surface-alt);
    box-shadow: 0 0 0 1px var(--border-default);
    height: 40px;
    
}

.news-category {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
    color: var(--text-weak);
}
.news-category.active {
    background-color: var(--surface-brand-alt);
    color: var(--text-white-default);
}


/* 모달 */
.modal-overlay {
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-overlay.active {
    display: flex;
}

.modal {
    background: white;
    box-shadow: 0 0 0 1px var(--border-default);
    width: 320px;
    height: 140px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-text-container{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#unsubscribeMessage {
    padding-top: 1px;
    color: var(--text-strong);
}
.modal-text {
    color: var(--text-default);
}
.modal-text-top {
    display: flex;
    justify-content: center;
}

.modal-actions {
    height: 48px;
    display: flex;
    justify-content: center;
}

.modal-btn {
    flex: 1;
    box-shadow: 0 0 0 1px var(--border-default);
    cursor: pointer;
    border: none;
    background-color: var(--surface-alt);
}

.modal-btn.confirm {
    color: var(--text-default);
}
.modal-btn.cancel {
    color: var(--text-strong);
}
.modal-btn:hover {
    text-decoration: underline;
}