.alert-modal {
  position: absolute;
  z-index: 10;
  width: 320px;
  height: 140px;
  background-color: var(--surface-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-default);
  box-shadow: 0px 4px 2px rgba(20, 33, 43, 0.02),
    0px 2px 18px rgba(20, 33, 43, 0.08);
}

.alert-content {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-message {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-default);
}
.alert-message strong {
  font-weight: bold;
  color: var(--text-strong);
}

.alert-actions {
  display: flex;
  flex-direction: row;
}

.alert-btn {
  width: 160px;
  height: 48px;
  background-color: var(--surface-alt);
  border-radius: 0px;
  border-top: 1px solid var(--border-default);
  font-size: 16px;
  color: var(--text-strong);
}
.alert-btn:hover {
  text-decoration: underline;
}
.alert-btn.confirm-btn {
  border-right: 1px solid var(--border-default);
  color: var(--text-default);
}
