.badge {
  width: fit-content;
  min-width: 20px;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background-color: var(--surface-brand-alt);
  color: var(--text-white-weak);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.is-active {
  background-color: var(--surface-brand-default);
  color: var(--text-white-default);
}
