.subscribe-button {
  height: 24px;
  padding: 0 6px;
  gap: 2px;
  color: var(--text-weak);
  background-color: var(--surface-default);
  border: 1px solid var(--border-default);
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.subscribe-button:hover {
  border: 1px solid var(--border-bold);
  color: var(--text-bold);
}
.subscribe-button svg {
  width: 12px;
  height: 12px;
}
