.subscribe-button {
  height: 24px;
  padding: 0 6px;
  gap: 2px;
  color: var(--text-weak);
  background-color: var(--surface-default);
  outline: 1px solid var(--border-default);
  outline-offset: -1px; /* 테두리 두께만큼 안으로 밀어넣음 */
  border-radius: 999px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subscribe-button:hover {
  outline: 1px solid var(--border-bold);
  color: var(--text-bold);
}
.subscribe-button svg {
  width: 12px;
  height: 12px;
}
.subscribe-button.loading {
  width: 72px;
  cursor: defualt;
  justify-content: center;
}
.subscribe-button.loading svg {
  animation: rotateRight 1.5s infinite;
}
@keyframes rotateRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
.gray-bg {
  background-color: var(--surface-alt);
}
.subscribe-label {
  padding-right: 4px;
}
