* {
  box-sizing: border-box;
}
#page {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
}
#title-and-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
h1 {
  font-size: var(--fs-24);
}

#badge {
  width: 20px;
  height: 20px;
  background-color: var(--blue-100);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white-weak);
}
#subscribed-press {
  display: flex;
}

#press-view {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#newspaper-icon {
  color: var(--text-point);
}

.view-type-icon {
  color: var(--text-weak);
}

.is-active-icon {
  color: var(--text-point);
}
.auto-rolling-news {
  flex-basis: 50%;
  flex-shrink: 1;
  display: flex;
  align-items: center;

  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
  padding: 16px;
  gap: 16px;
}
.auto-rolling-news-bar {
  width: 930px;
  height: 49px;
  display: flex;
  gap: 8px;
}

.clean-button {
  border: 0;
  background-color: transparent;
}
#tab-button-bar {
  display: flex;
  gap: 24px;
}

.tab-button {
  color: var(--text-weak);
}
#tab-and-viewer {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
}

#grid-view {
  width: 930px;
  height: 388px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.press-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d2dae0;
}

.height-space-40 {
  height: 40px;
}

.height-space-32 {
  height: 32px;
}
.height-space-20 {
  height: 32px;
}
.height-space-58 {
  height: 58px;
}

.left:hover > .news-headline {
  text-decoration: underline;
  cursor: pointer;
}
.right:hover > .news-headline {
  text-decoration: underline;
  cursor: pointer;
}
.press-logo > .subscribe-btn {
  display: none;
}

.press-logo:hover {
  cursor: pointer;
  background-color: var(--grayscale-50);
}
.press-logo:hover > img {
  display: none;
}
.press-logo:hover > .subscribe-btn {
  display: flex;
}

.press-logo:not(:hover) > img {
  display: block;
}
.press-logo:not(:hover) > .subscribe-btn {
  display: none;
}

.unselected-text {
  color: var(--text-weak);
}
.selected-text {
  color: var(--text-strong);
}

#main-view {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.subscribe-btn {
  display: flex;
  gap: 2px;
  align-items: center;
  height: 24px;
  padding-right: 6px;
  padding-left: 6px;
  border: 1px solid var(--border-default);
  background-color: var(--surface-default);
  border-radius: 999px;
}

.subscribe-info-txt {
  padding: 4px;
}

.is-active-text {
  color: var(--text-strong);
}

.alert {
  visibility: hidden;
  width: 320px;
  background-color: var(--surface-alt);
  border: 1px solid var(--border-default);
  position: absolute;
  margin: auto;
  top: 50%;
  box-shadow: 0px 2px 18px 0px #14212b14;
}

.alert-message {
  padding: 24px;

  background-color: var(--surface-default);
  text-align: center;
}

.alert .buttons {
  height: 48px;

  display: flex;
}

.alert .buttons > button {
  padding: 10px;
  border: 1px solid var(--border-default);
  width: 50%;
}

.alert button:hover {
  text-decoration: underline;
}
