#page {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
}
#title-and-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
h1 {
  font-size: var(--fs-24);
}

#badge {
  width: 20px;
  height: 20px;
  background-color: var(--blue-100);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#subscribed-press {
  display: flex;
}

#newspaper-icon {
  width: 24;
  height: 24;
}
.auto-rolling-news {
  flex-basis: 50%;
  flex-shrink: 1;
  display: flex;
  align-items: center;

  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
  padding: 16px;
  gap: 16px;
}
.auto-rolling-news-bar {
  width: 930px;
  height: 49px;
  display: flex;
  gap: 8px;
}

.clean-button {
  border: 0;
  background-color: transparent;
}
#tab-button {
  display: flex;
  gap: 24px;
}
#tab-and-viewer {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;
}

#grid-view {
  width: 930px;
  height: 388px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.press-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d2dae0;
}

.height-space-40 {
  height: 40px;
}

.height-space-32 {
  height: 32px;
}
.height-space-20 {
  height: 32px;
}
.height-space-58 {
  height: 58px;
}

.left:hover > .news-headline {
  text-decoration: underline;
  cursor: pointer;
}
.right:hover > .news-headline {
  text-decoration: underline;
  cursor: pointer;
}
