body {
  background-color: var(--surface-default);
}

.underline {
  text-decoration: underline;
}
p,
h3 {
  margin: 0;
}
button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 24px;

  padding: 0px 6px;
  border-radius: 1000px;
  border: 1px solid;
  border-color: var(--border-default);
  box-sizing: border-box;

  color: var(--text-weak);

  &:hover {
    color: var(--text-bold);
    border-color: var(--border-bold);
  }
  & svg {
    width: 12px;
    height: 12px;
    display: block;
  }
  & > p {
    /* medium-12 */
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-medium);
  }
}

.bg-white {
  background-color: var(--surface-default);
}

.bg-gray {
  background-color: var(--surface-alt);
}
