@use './reset.scss';
@use './variable.scss';
@use './typography.scss';
@use './layouts/layout.scss';
@use './layouts/header.scss';
@use './layouts/main.scss';
@use './components/rolling-section.scss';
@use './components/news-section.scss';