#field-tab {
  width: 930px;
  height: 40px;
  border: 1px solid var(--border-default);
  background-color: var(--surface-alt);
}

.category-btn {
  height: 40px;
  padding: 0px 16px;
}
button.category-btn.is-active {
  background-color: var(--surface-brand-alt);
}

#press-news {
  display: flex;
  flex-direction: column;
  width: 930px;
  padding: 24px;
  gap: 16px;
  border: 1px solid var(--border-default);
  margin-top: -1px;
}

#press-info {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
}

#news {
  display: flex;
  width: 100%;
  gap: 32px;
}
#main-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#main-news-thumbnail {
  width: 320px;
  height: 200px;
  border: 1px solid var(--border-default);
}

#sub-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

#sub-article p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
}

#sub-article ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: var(--text-bold);
}
a:hover {
  text-decoration: underline;
}
