body {
  /* 폰트 적용 및 기본 서체 스택 설정 */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  /* Foundation에서 정의한 기본 텍스트 색상 적용 [cite: 3, 15] */
  color: var(--text-default);
  background-color: var(--surface-default);
  font-weight: 500;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
