@font-face {
  font-display: swap;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 45 920;
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
}