@import "./variables.css";

/* 일단 일반, 다크 모드 빼고'
/*:root[data-theme="light"]{*/
:root {
  /* text */
  --text-strong: var(--grayscale-black);
  --text-bold: var(--grayscale-500);
  --text-default: var(--grayscale-400);
  --text-weak: var(--grayscale-200);
  --text-white-default: var(--grayscale-white);
  --text-white-weak: var(--grayscale-white-alt);
  --text-point: var(--blue-500);

  /* surface */
  --surface-default: var(--grayscale-white);
  --surface-alt: var(--grayscale-50);
  --surface-brand-default: var(--blue-500);
  --surface-brand-alt: var(--blue-100);

  /* border */
  --border-bold: var(--grayscale-300);
  --border-default: var(--grayscale-100);
}

/* 다크모드 */
:root[data-theme="dark"] {
  /* text */
  --text-strong: var(--grayscale-white);
  --text-bold: var(--grayscale-50);
  --text-default: var(--grayscale-100);
  --text-weak: var(--grayscale-white-alt);
  --text-white-default: var(--grayscale-white);
  --text-white-weak: var(--grayscale-white-alt);
  --text-point: var(--blue-500);

  /* surface */
  --surface-default: var(--grayscale-black);
  --surface-alt: var(--grayscale-500);
  --surface-brand-default: var(--blue-500);
  --surface-brand-alt: var(--blue-100);

  /* border */
  --border-bold: var(--grayscale-white-alt);
  --border-default: var(--grayscale-400);
}
