:root {
    --font-family-base: Pretendard, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    --font-weight-bold: 700;
    --font-weight-medium: 500;

    --font-size-l: 24px;
    --font-size-m: 16px;
    --font-size-r: 14px;
    --font-size-s: 12px;

    --line-height-auto: normal;
    --line-height-22: 22px;

    --text-decoration-none: none;
    --text-decoration-underline: underline;
}