@mixin text-bold-lg {
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin text-bold-md {
  font-size: 1rem;
  font-weight: 700;
}

@mixin text-bold-rg {
  font-size: 0.875rem;
  font-weight: 700;
}

@mixin text-bold-sm {
  font-size: 0.75rem;
  font-weight: 700;
}

@mixin text-medium-md {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
}

@mixin text-medium-md-underline {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

@mixin text-medium-rg {
  font-size: 0.875rem;
  font-weight: 500;
}

@mixin text-medium-rg-underline {
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: underline;
}

@mixin text-medium-sm {
  font-size: 0.75rem;
  font-weight: 500;
}

@mixin display-bold24 {
  @include text-bold-lg;
}

@mixin display-bold16 {
  @include text-bold-md;
}

@mixin display-bold14 {
  @include text-bold-rg;
}

@mixin display-bold12 {
  @include text-bold-sm;
}

@mixin display-medium16 {
  @include text-medium-md;
}

@mixin display-medium14 {
  @include text-medium-rg;
}

@mixin display-medium12 {
  @include text-medium-sm;
}

@mixin selected-bold16 {
  @include text-bold-md;
}

@mixin selected-bold14 {
  @include text-bold-rg;
}

@mixin available-medium16 {
  @include text-medium-md;
}

@mixin available-medium14 {
  @include text-medium-rg;
}

@mixin available-medium12 {
  @include text-medium-sm;
}

@mixin hover-medium16 {
  @include text-medium-md-underline;
}

@mixin hover-medium14 {
  @include text-medium-rg-underline;
}