@font-face {
  font-display: swap;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 45 920;
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
}

:root {
  --grayscale-white-alt: rgb(255 255 255 / 70%);
  --grayscale-white: #fff;
  --grayscale-50: #f5f7f9;
  --grayscale-100: #d2dae0;
  --grayscale-200: #879298;
  --grayscale-300: #6e8091;
  --grayscale-400: #5f6e76;
  --grayscale-500: #4b5966;
  --grayscale-black: #14212b;
  --blue-100: #7890e7;
  --blue-500: #4362d0;
  --radius-full: 999px;
  --radius-100: 8px;
  --shadow-drop-default: 0 4px 2px rgb(20 33 43 / 2%), 0 2px 18px rgb(20 33 43 / 8%);

  /* Light Mode */
  --text-strong: var(--grayscale-black);
  --text-bold: var(--grayscale-500);
  --text-default: var(--grayscale-400);
  --text-weak: var(--grayscale-200);
  --text-white-default: var(--grayscale-white);
  --text-white-weak: var(--grayscale-white-alt);
  --text-point: var(--blue-500);
  --surface-default: var(--grayscale-white);
  --surface-alt: var(--grayscale-50);
  --surface-brand-default: var(--blue-500);
  --surface-brand-alt: var(--blue-100);
  --border-bold: var(--grayscale-300);
  --border-default: var(--grayscale-100);
}

/* Dark Mode */
[data-theme='dark'] {
    --text-strong: var(--grayscale-white);
    --text-bold: var(--grayscale-50);
    --text-default: var(--grayscale-100);
    --text-weak: var(--grayscale-white-alt);
    --text-white-default: var(--grayscale-white);
    --text-white-weak: var(--grayscale-white-alt);
    --text-point: var(--blue-500);
    --surface-default: var(--grayscale-black);
    --surface-alt: var(--grayscale-500);
    --surface-brand-default: var(--blue-500);
    --surface-brand-alt: var(--blue-100);
    --border-bold: var(--grayscale-white-alt);
    --border-default: var(--grayscale-400);
  }

  
