.grid-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-inline: 90px;
}

.subscribe-toggle-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.subscribe-toggle:hover {
  text-decoration: underline;
}

.subscribe-toggle {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-week);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe-toggle.is-active {
  font-weight: bold;
  color: var(--text-strong);
  text-decoration: none;
}
.subscribe-toggle-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.view-toggle-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.view-toggle {
  cursor: pointer;
  color: var(--text-week);
}

.view-toggle.is-active {
  color: var(--blue-500);
}
.badge {
  width: fit-content;
  min-width: 20px;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background-color: var(--surface-brand-alt);
  color: var(--text-white-weak);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.is-active {
  background-color: var(--surface-brand-default);
  color: var(--text-white-default);
}
