:root {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  margin-top: 100px;
  margin-inline: auto;

  width: 1280px;
  height: 720px;
  justify-items: center;

  --display-bold24: 700 24px 'Pretendard';
  --display-bold16: 700 16px 'Pretendard';
  --display-bold14: 700 14px 'Pretendard';
  --display-bold12: 700 12px 'Pretendard';
  --display-medium16: 500 16px/22px 'Pretendard';
  --display-medium14: 500 14px 'Pretendard';
  --display-medium12: 500 12px 'Pretendard';
  --selected-bold16: 700 16px 'Pretendard';
  --selected-bold14: 700 14px 'Pretendard';
  --selected-medium16: 500 16px/22px 'Pretendard';
  --selected-medium14: 500 14px 'Pretendard';
  --available-medium16: 500 16px/22px 'Pretendard';
  --available-medium14: 500 14px 'Pretendard';
  --available-medium12: 500 12px 'Pretendard';
  --hover-medium16: 500 16px 'Pretendard';
  --hover-medium14: 500 14px 'Pretendard';

  --text-white-weak: rgb(255, 255, 255, 0.7);
  --text-white-default: #FFFFFF;
  --surface-alt: #F5F7F9;
  --surface-default: #FFFFFF;
  --text-point: #4362D0;
  --border-default: #D2DAE0;
  --text-weak: #879298;
  --border-bold: #6E8091;
  --text-default: #5F6E76;
  --text-bold: #4B5966;
  --text-strong: #14212B;
  --surface-brand-alt: #7890E7;
  --surface-brand-default: #4362D0;
}

#view {
  width: 930px;
  display: block;
}





