:root {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  padding-block: 100px;
  padding-inline: 300px;
}

.upperTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --text-white-weak: rgb(255, 255, 255, 0.7);
  --text-white-default: #FFFFFF;
  --surface-alt: #F5F7F9;
  --border-default: #D2DAE0;
  --text-weak: #879298;
  --border-bold: #6E8091;
  --text-default: #5F6E76;
  --text-bold: #4B5966;
  --text-strong: #14212B;
  --surface-brand-alt: #7890E7;
  --surface-brand-default: #4362D0;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  border: 0px;
  background: white;
}

.displayText {
  font-size: 24px;
  font-weight: 700;
}

.newspaperIcon {
  width: 24px;
  height: 24px;
}

.todaysDate {
  font-size: 16;
  font-weight: 500;
  color: var(--text-default);
}
