:root {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
  margin-top: 100px;
  margin-inline: auto;

  width: 1280px;
  height: 720px;
  justify-items: center;

  --display-bold24: 700 24px 'Pretendard';
  --display-bold16: 700 16px 'Pretendard';
  --display-bold14: 700 14px 'Pretendard';
  --display-bold12: 700 12px 'Pretendard';
  --display-medium16: 500 16px 'Pretendard'/22px 'Pretendard';
  --display-medium14: 500 14px 'Pretendard';
  --display-medium12: 500 12px 'Pretendard';
  --selected-bold16: 700 16px 'Pretendard';
  --selected-bold14: 700 14px 'Pretendard';
  --selected-medium16: 500 16px/22px 'Pretendard';
  --selected-medium14: 500 14px 'Pretendard';
  --available-medium16: 500 16px/22px 'Pretendard';
  --available-medium14: 500 14px 'Pretendard';
  --available-medium12: 500 12px 'Pretendard';
  --hover-medium16: 500 16px 'Pretendard';
  --hover-medium14: 500 14px 'Pretendard';

.upperTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --text-white-weak: rgb(255, 255, 255, 0.7);
  --text-white-default: #FFFFFF;
  --surface-alt: #F5F7F9;
  --border-default: #D2DAE0;
  --text-weak: #879298;
  --border-bold: #6E8091;
  --text-default: #5F6E76;
  --text-bold: #4B5966;
  --text-strong: #14212B;
  --surface-brand-alt: #7890E7;
  --surface-brand-default: #4362D0;
}

#view {
  width: 930px;
  display: block;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  border: 0px;
  background: white;
#autoRollingNewsBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0;
  margin-block: 36px;
  align-items: center;
  gap: 8px;
}

#autoRollingNewsBar > .left {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 16px;
  background: var(--surface-alt);
  border-color: var(--border-default);
  border-width: 1px;
  border-style: solid;
  padding: 16px;
}

#autoRollingNewsBar > .left > .press {
  font: var(--display-bold14);
  color: var(--text-strong);
  flex-shrink: 0;
}

#autoRollingNewsBar > .left > .newsTitle {
  font: var(--available-medium14);
  color: var(--text-default);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#autoRollingNewsBar > .right {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 16px;
  background: var(--surface-alt);
  border-color: var(--border-default);
  border-width: 1px;
  border-style: solid;
  padding: 16px;
}

#autoRollingNewsBar > .right > .press {
  font: var(--display-bold14);
  color: var(--text-strong);
  flex-shrink: 0;
}

#autoRollingNewsBar > .right > .newsTitle {
  font: var(--available-medium14);
  color: var(--text-default);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#tabAndViewer {
  height: 24px;
  margin-block: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tabButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

#viewButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

#allPress {
  font: var(--selected-bold16);
  color: var(--text-strong);
}
#viewArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
#viewArea > .center {
  display: grid;
  width: 100%;
  height: 388px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-width: 1px;
  border-color: var(--border-default);
  border-style: solid;
}


#viewArea > .left {
  position: absolute;
  left: 300px;
}

#viewArea > .right {
  position: absolute;
  right: 300px;
}

.subscribedPress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.subscribedPress > .title {
  font: var(--available-medium16);
  color: var(--text-weak);
}

.subscribedPress > .badge {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background: var(--surface-brand-alt);
  font: var(--display-medium12);
  color: var(--text-white-weak);
}

.upperTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 36px;
}

.displayText {
  font: var(--display-bold24);
}

.newspaperIcon {
  width: 24px;
  height: 24px;
}

.todaysDate {
  font: var(--display-medium16);
  color: var(--text-default);
}
