:root {
  /* ---------- Grayscale ---------- */
  --color-grayscale-white: #ffffff;
  --color-grayscale-white-alt: rgba(255, 255, 255, 0.7);

  --color-grayscale-50: #f5f7f9;
  --color-grayscale-100: #d2dae0;
  --color-grayscale-200: #879298;
  --color-grayscale-300: #6e8091;
  --color-grayscale-400: #5f6e76;
  --color-grayscale-500: #4b5966;
  --color-grayscale-black: #14212b;

  /* ---------- Blue ---------- */
  --color-blue-100: #7890e7;
  --color-blue-500: #4362d0;
}
