.list-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 388px;
  overflow: hidden;
}

.list-tab-container {
  display: flex;
  flex-direction: row;
  background-color: var(--surface-alt);
  border: 1px solid var(--border-default);
  height: 40px;
}

.list-tab {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 40px;
  font-size: 14px;
  line-height: 100%;
  height: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.list-tab.active {
  background-color: var(--blue-100);
  color: var(--text-white-default);
  font-weight: bold;
  cursor: default;
}
.list-tab span {
  height: 14px;
}

.list-tab.active svg {
  width: 14px;
  height: 14px;
}
