.list-section {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 388px;
}

.list-tab-container {
  display: flex;
  flex-direction: row;
  background-color: var(--surface-alt);
  border: 1px solid var(--border-default);
  height: 40px;
}

.list-tab {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 40px;
  font-size: 14px;
  height: 40px;
}

.list-tab.active {
  background-color: var(--blue-100);
  color: var(--text-white-default);
  font-weight: bold;
}
