#autoRollingNewsBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0;
  margin-block: 36px;
  align-items: center;
  gap: 8px;
}

.rollup-out {
  animation: moveUpOut 0.3s forwards;
}

.rollup-in {
  animation: moveUpIn 0.3s forwards;
}

@keyframes moveUpOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes moveUpIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#autoRollingNewsBar > .left {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 16px;
  background: var(--surface-alt);
  border-color: var(--border-default);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  overflow: hidden;
  padding: 16px;
}

#autoRollingNewsBar > .left:hover .newsTitle {
  text-decoration: underline;
}

#autoRollingNewsBar > .left > .press {
  font: var(--display-bold14);
  color: var(--text-strong);
  flex-shrink: 0;
}

#autoRollingNewsBar > .left > .newsTitle {
  font: var(--available-medium14);
  color: var(--text-default);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#autoRollingNewsBar > .right {
  display: flex;
  align-items: center;
  min-width: 0;
  gap: 16px;
  background: var(--surface-alt);
  border-color: var(--border-default);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  overflow: hidden;
  padding: 16px;
}

#autoRollingNewsBar > .right > .press {
  font: var(--display-bold14);
  color: var(--text-strong);
  flex-shrink: 0;
}

#autoRollingNewsBar > .right > .newsTitle {
  font: var(--available-medium14);
  color: var(--text-default);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#autoRollingNewsBar > .right:hover .newsTitle {
  text-decoration: underline;
}