/**
 * News Table Styles
 */

.news-table {
  position: relative;
  width: 100%;
  margin-top: var(--gap-lg);
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    & img {
      width: 24px;
      height: 40px;
      display: block;
    }

    &:first-child {
      left: -70px;
    }

    &:last-child {
      right: -70px;
    }
  }

  & table {
    width: 930px;
    height: 388px;
    border-collapse: collapse;

    & td {
      width: calc(100% / 6);
      height: 25%;
      border: var(--border-width) solid var(--border-default);
      text-align: center;
      vertical-align: middle;
    }
  }
}
