header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font: var(--typo-display-bold24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#header-icon {
    width: 24px;
    height: 24px;
}

time {
    font: var(--typo-display-medium16);
    color: var(--color-text-default);
}
