#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  padding-left: 0;
  border: 0px;
  background: white;
  cursor: pointer;
}

.newspaperIcon {
  width: 24px;
  height: 20px;
}

.todaysDate {
  font: var(--display-medium16);
  color: var(--text-default);
}

.upperTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 36px;
}

.displayText {
  font: var(--display-bold24);
}