@import url('./header.css');
@import url('./autoRollingNews.css');
@import url('./mainNavContainer.css');
@import url('./pressStyling.css');
@import url('./btn.css');
@import url('./alert.css');
@import url('./listView.css');

main {
    width: 930px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}