.news-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 930px;
}

.category-tab-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-bottom: -1px;

    width: 100%;
    height: 40px;

    background-color: var(--color-surface-alt);
    border: 1px solid var(--color-border-default);
}

@keyframes fillProgress {
    from {
        background-size: 0% 100%; 
    }
    to {
        background-size: 100% 100%;
    }
}

.category-tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    gap: 40px;

    font: var(--font-available-14);
    color: var(--color-text-weak);

    position: relative;

    &.selected {
        font: var(--font-selected-14);
        color: var(--color-text-white-default);

        background-color: color-mix(in srgb, var(--color-surface-brand-default), transparent 40%);
        background-image: linear-gradient(to right, var(--color-surface-brand-default), var(--color-surface-brand-default));
        background-repeat: no-repeat;
        
        background-size: 0% 100%;

        animation: fillProgress 20s linear forwards;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .category-name {
        white-space: nowrap;
    }
}

.category-count-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    font: var(--font-bold-12);
    color: var(--color-text-weak);
    
    .current-count {
        color: var(--color-text-white-default);
    }
}

.category-news-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    gap: 16px;

    width: 100%;

    border: 1px solid var(--color-border-default);
}

.news-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    img {
        width: 52px;
        height: 20px;
        object-fit: contain;
    }

    span {
        font: var(--font-medium-12);
        color: var(--color-text-default);
    }
}

.news-main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
}

.img-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
        width: 320px;
        height: 200px;
        transition: transform 0.3s ease;
    }

    span {
        height: 44px;
        font: var(--font-available-16);
        color: var(--color-text-strong);
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;

        img {
            transform: scale(1.05);
        }
    }
}


.news-title-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-title-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.news-title-item {
    font: var(--font-available-16);
    color: var(--color-text-bold);

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.news-caption {
    font: var(--font-medium-14);
    color: var(--color-text-weak);
}