.press-container {
    width: 930px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.press-nav-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.press-logo-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1px;
    width: 930px;
    height: 388px;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.press-logo-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border-default);
}

.press-logo-container img {
    height: 20px;
    object-fit: cover;
}
