#title-wrap {
  display: flex;
}

.ns-header {
  display: flex;
}

#roll-wrapper {
  display: flex;
}

#rolling-card-wrapper {
  display: flex;
}

.ns-controls {
  display: flex;
  justify-content: space-between;
}
