.newsstand-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.newstand-title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.newstand-title img {
  display: block;
  width: 24px;
  height: 24px;
}

.newstand-text {
  font-size: 24px;
  color: var(--text-strong);
}

.newstand-date {
  font-size: 16px;
  color: var(--text-default);
}

