.auto-rolling-news-bar {
    background-color: var(--color-grayscale-50);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    border-radius: var(--radius-100);
    border: var(--border-width-default) solid var(--border-color-default);
    width: 100%;
    height: 25px;
    padding: 16px;
}

.auto-rolling-news-bar > h3 {
    font: var(--typo-display-bold14);
    white-space: nowrap;
}

.auto-rolling-news-bar > div {
    font: var(--typo-display-medium14);
    color: var(--color-text-default);
}