.layout {
    display:flex;
    flex-direction: column;
    gap:2.5rem;
    height: 45rem;
    width: 58.125rem;

    &__container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
}