name: Deploy static content to Pages

on:
  push:
    branches: ["yejin"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build with Vite
        run: npm run build

      - name: Get commit hash
        id: commit
        run: echo "hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Prepare Build Directory
        run: |
          mkdir -p build
          rsync -av dist/ build/

          HASH=${{ steps.commit.outputs.hash }}
          mkdir -p build/snapshots/$HASH

          rsync -av dist/ build/snapshots/$HASH/

          find build -maxdepth 3

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          keep_files: true
