/* Radius */
.radius-full {
  border-radius: var(--radius-full);
}

.radius-100 {
  border-radius: var(--radius-100);
}

/* Border */
.border-default {
  border: 1px solid var(--color-border-default);
}

.border-bold {
  border: 1px solid var(--color-border-bold);
}

/* Surface */
.surface-default {
  background-color: var(--color-surface-default);
}

.surface-alt {
  background-color: var(--color-surface-alt);
}

.surface-brand-default {
  background-color: var(--color-surface-brand-default);
  color: var(--color-text-white-default);
}

.surface-brand-alt {
  background-color: var(--color-surface-brand-alt);
}

/* Shadow */
.shadow-elevation {
  box-shadow: var(--shadow-elevation);
}
