@import url('../style.css');

nav {
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.grid-layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 930px;
  height: 388px;
  overflow: hidden;
}
