@import url('../style.css');

nav {
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    display: none;
  }
}

.grid-layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 930px;
  height: 388px;
  overflow: hidden;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

#btn-left {
  width: 24px;
  height: 40px;
  margin: 0 47px 0 0;
  background-image: url('../../images/icons/left-button.svg');
}

#btn-right {
  width: 24px;
  height: 40px;
  margin: 0 0 0 48px;
  background-image: url('../../images/icons/right-button.svg');
}
